In [1]:
import pandas as pd 
import praw
from praw.models import MoreComments

import os

In [4]:
client_id = os.getenv('CLIENT_ID')
client_secret = os.getenv('CLIENT_SECRET')

In [5]:
# reddit agent to insert credentials
reddit = praw.Reddit(user_agent='Comment Extraction (by /u/Agile_Swordfish_1564)',
                     client_id=client_id,
                     client_secret=client_secret)

In [15]:
sub = reddit.subreddit("datascience")
# get posts questions and comments to the questions
posts = {}
for submission in sub.top("all"):
    posts[submission.title] = submission.selftext
    submission.comments.replace_more(limit=None)
    for comment in submission.comments.list():
        posts[comment.body] = [top_level_comment.body for top_level_comment in comment.replies]
posts = pd.DataFrame(posts.items(), columns=['title', 'body'])

data = posts.to_csv('posts.csv', index=False)

print(posts.head())

/tmp/ipykernel_50661/1938056916.py:4: DeprecationWarning: Positional arguments for 'BaseListingMixin.top' will no longer be supported in PRAW 8.
Call this function with 'time_filter' as a keyword argument.
  for submission in sub.top("all"):

                                               title  \
0                                         data siens
1  I was once reading this article that went as: ...
2  How do you change your setup on Jupyter to loo...
3      The reality of 9/10 data scientist job specs!
4        oh fuck ðŸ˜‚ðŸ˜‚ðŸ˜‚this had no business to be funny

                                                body
0
1  [#SportsAnalytics, Iâ€™m a ManU fan. I want Cava...
2                           [IMPORT EXCEL DATAFRAME]
3  [[deleted], It would be...\n\nRequirements:\nP...
4  [God the fact that he didn't even refence anot...

In [16]:
df = pd.read_csv("posts.csv")
df.head()

,title,body
0,data siens,NaN
1,I was once reading this article that went as: ...,"['#SportsAnalytics', 'Iâ€™m a ManU fan. I want C..."
2,How do you change your setup on Jupyter to loo...,['IMPORT EXCEL DATAFRAME']
3,The reality of 9/10 data scientist job specs!,"['[deleted]', 'It would be...\n\nRequirements:..."
4,oh fuck ðŸ˜‚ðŸ˜‚ðŸ˜‚this had no business to be funny,"[""God the fact that he didn't even refence ano..."

In [17]:
df.describe()

                                                    title   body
count                                               12101  12022
unique                                              12101   4679
top     Yeah, but it also can reference getting data p...     []
freq                                                    1   7156

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12101 entries, 0 to 12100
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   12101 non-null  object
 1   body    12022 non-null  object
dtypes: object(2)
memory usage: 189.2+ KB